%% -*- mode: erlang -*-
[
    {tpnode, [
        {config, "./examples/test_chain5/c5n2.conf"}
    ]},
    {kernel,[
          {logger_level, info},
          {logger, [
                    {handler, default, logger_std_h, #{ level => critical } },

                    {handler, disk_info_log, logger_std_h,
                     #{config => #{
                                   file => "log/info_test_c5n2.log",
                                   type => file,
                                   max_no_files => 10,
                                   max_no_bytes => 52428800 % 10 x 5mb
                                  },
                       level => info,
                       filters => [{nosasl, {fun logger_filters:progress/2, stop}}]
                      }
                    },

                    {handler, disk_err_log, logger_std_h,
                     #{config => #{
                                   file => "log/error_test_c5n2.log",
                                   type => file,
                                   max_no_files => 10,
                                   max_no_bytes => 52428800 % 10 x 5mb
                                  },
                       level => error
                      }
                    }
                   ]}
            ]}
].


