_*
_build
.DS_STORE
.erlang.cookie
.eunit
.idea
.rebar
.rebar3
.vagrant
*.beam
*.iml
*.o
*.plt
*.swo
*.swp
*~
app?.config
app*.config
apps/*/.rebar
apps/*/ebin
apps/tpnode/include/version.hrl
db
db_*
deps/*
ebin
erl_crash.dump
log
log/*
logs
rebar3.crashdump
tags
testrel
tmp/
