{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.


{erl_opts, [
    fail_on_warning,
    warnings_as_errors,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy", "HEAD"}},
        {sync, ".*", {git, "https://github.com/rustyio/sync.git","master"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "HEAD"}},
        {yxmpp, ".*", {git, "https://github.com/cleverfox/yxmpp.git", "master"}},
        {apixiom, ".*", {git, "https://github.com/cleverfox/apixiom", "master"}},
        {tinymq,  ".*", {git, "https://github.com/ChicagoBoss/tinymq", "master"}},
	{h2leveldb, ".*", {git, "https://github.com/leveldb-erlang/h2leveldb.git", "master"}},
        {tables,  ".*", {git, "https://github.com/cleverfox/tables", "master"}}
]}.
{sub_dirs, ["apps/tpnode"]}.
