{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.


{erl_opts, [
    fail_on_warning,
    warnings_as_errors,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.
{deps, [
        {lager, "3.5.2"},
        {sync, {git, "https://github.com/rustyio/sync.git","master"}},
        {jsx, "2.8.3"},
        {tinymq,  {git, "https://github.com/ChicagoBoss/tinymq", "0e47ab2ffb90d41885258e8940c3c8de9ba40637"}},
        %{secp256k1,  {git, "https://github.com/cleverfox/erlang-secp256k1.git", "master"}},
        %{libsecp256k1, "0.1.3"},
        {gb_merkle_trees, {git, "https://github.com/KrzysiekJ/gb_merkle_trees.git", "8ca2b71bcd87777eb10f25119a393ba7b4b3c219"}},
        {cowboy, "2.1.0"},
        {rocksdb, "0.12.0"},
        {msgpack, "0.7.0"},
        {tables, {git, "https://github.com/cleverfox/tables", "master"}}
]}.
{sub_dirs, ["apps/tpnode"]}.

{relx, [{release, { thepower, "0.1.0" },
         [tpnode, sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{defaultrel, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.

