%% -*- mode: erlang -*-

{tpic, #{
    peers => [{"127.0.0.1", 49911}],
    port => 49912}
}.
{discovery, #{addresses => [
    #{address => "127.0.0.1", port => 49912, proto => tpic},
    #{address => local4, port => 49812, proto => api}
]}}.
{rpcport, 49812}.

{crosschain, #{
    port => 49712,
    connect =>
    [{"127.0.0.1", 49722}]
}}.

{privkey, "15A48B170FBDAC808BA80D1692305A8EFC758CBC11252A4338131FC68AFAED6B"}.
{endless, [<<128, 1, 64, 0, 1, 0, 0, 1>>]}.
