[
{tpnode, [
    {config,"node.config"},
    {discovery,
        #{addresses => [#{address => local6,port => 43210, proto => tpic}] }
    }
]},
{lager, [
    {handlers, [
        {lager_file_backend, [
            {file, "log/error.log"},
            {level,error},
            {size, 10485760},
            {date, "$D0"},
            {count, 5}
        ]},
        {lager_file_backend, [
            {file, "log/console_n1.log"},
            {level, info},
            {size, 10485760},
            {date, "$D0"},
            {count, 5}
        ]}
    ]}
]}
].
