[
{tpnode, [
    {config,"c1n2.conf"}
]},
{lager, [
    {colored, true},
    {handlers, [
        {lager_file_backend, [
            {file, "log/info_c1n2.log"},
            {level, info},
            {size, 10485760},
            {date, "$D0"},
            {count, 2}
        ]},
        {lager_file_backend, [
            {file, "log/error_c1n2.log"},
            {level,error},
            {size, 10485760},
            {date, "$D0"},
            {count, 5}
        ]}
        ]}
    ]}
].


